<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Twibook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a href="/statuses/" class="brand">Twibook</a>
			<ul class="nav">
				<li><%= link_to "All statuses",statuses_path%></li>
			</ul>
		</div>
	</div>

</div>
</div>
<p class="alert" align="center"><%= alert %></p>
<p class="notice" align="center"><%= notice %></p>
<div class="container">
	<%= yield %>
</div>
</body>
</html>
