%h1 List of Surveys
%table
  %thead.some{style: "color: green"}
    %th Year
    %th Name
    %th Action
  - @surveys.each do |survey|
    %tr
      %td 
        = survey.year
      %td 
        = survey.name
      %td
        = link_to 'edit',edit_survey_path(survey)
        = link_to 'delete',survey_path(survey), method: :delete, confirm: 'Are you sure ?'
      %td
        = link_to 'Take survey'
%br        
= link_to 'Create Survey',new_survey_path
