%h1 List of Surveys
%table
  %thead.some{style: "color: green"}
    %th Year
    %th Name
    %th Action
  - @surveys.each do |survey|
    %tr
      %td 
        = survey.year
      %td 
        = survey.name
      %td
        -if current_user.name == 'pkrawat'
          = link_to 'Edit',edit_survey_path(survey)
          = link_to 'Delete',survey_path(survey), method: :delete, confirm: 'Are you sure ?'
        = link_to 'Show' ,survey
        = link_to 'Take Survey',home_path(survey) if User.find(current_user.id).answers.where(survey_id: survey.id).first.nil?
%br    
= link_to 'Create Survey',new_survey_path if current_user.name == 'pkrawat'
